.field {
  display: grid;
  gap: 0;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  margin: 0;
}

.cover {
  position: absolute;
  width: 30px;
  height: 30px;
}