@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
  background-color: rgb(78, 78, 78);
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

.field {
  display: grid;
  gap: 0;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 0;
  background: #a89128
}

.cover {
  position: absolute;
  width: 29px;
  height: 29px;
}

button {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  border: 1px solid black;
}